<button mat-icon-button [matTooltip]="(actionString || 'Visualizar') + (complementText ? ' ' + complementText : '')" type="button" *ngIf="showAction(tableConsts.actionButton.view)" (click)="onViewClick()">
  <mat-icon>{{ customBtn || 'visibility' }}</mat-icon>
</button>

<div *ngFor="let action of actions?.custom">
  <button *ngIf="showActionCustom(action.id ?? action.name ?? tableConsts.actionButton.custom)" mat-icon-button [matTooltip]="action.name" type="button" (click)="onCustomClick(action)" [disabled]="action.toggleDisabled && value['ppAprovate'] === 'No'">
    <mat-icon>{{ action.icon }}</mat-icon>
  </button>
</div>

<button mat-icon-button [matTooltip]="('Editar') + (complementText ? ' ' + complementText : '')" type="button" *ngIf="showAction(tableConsts.actionButton.edit)" (click)="onEditClick()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button [matTooltip]="('Eliminar') + (complementText ? ' ' + complementText : '')" color="warn" type="button" *ngIf="showAction(tableConsts.actionButton.delete)" (click)="onDeleteClick()">
  <mat-icon class="delete">delete</mat-icon>
</button>
