.altern {
  top: 0;
  right: 0;
  z-index: 300;
  position: absolute;
  transform: translateY(-47px);
  select {
    height: 40px !important;
    margin-left: 20px;
    outline-color: var(--primary-color);
    padding-right: 8px;
    padding-left: 8px;
  }
}
