.alert-success {
    display: inline-block;
    width: calc(100% - 30px) !important;
}

.field {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    border: solid 0 transparent;
    border-left-width: var(--border-middle);
    border-right-width: var(--border-middle);
    &:nth-of-type(1),
    &:nth-of-type(2) {
        width: 50%;
    }
}

.action-buttons {
    display: flex;
    margin-top: -10px;
    padding-right: 15px;
    box-sizing: border-box;
    justify-content: flex-end;
}