<div class="dbl">
  <div class="sub-title">Dice</div>
  <app-projects
    [modify]="true"
    [position]="'left'"
    [canSelectOne]="true"
    [catClaveNombreUnidadResponsableR]="catClaveNombreUnidadResponsableR"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catContribucionProgramasEspecialesR]="catContribucionProgramasEspecialesR"
    [catContribucionPNCCIMGPR]="catContribucionPNCCIMGPR"
  ></app-projects>
</div>
<div class="dbl">
  <div class="sub-title">Debe Decir</div>
  <app-projects
    [modify]="true"
    [position]="'right'"
    [catClaveNombreUnidadResponsableR]="catClaveNombreUnidadResponsableR"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catContribucionProgramasEspecialesR]="catContribucionProgramasEspecialesR"
    [catContribucionPNCCIMGPR]="catContribucionPNCCIMGPR"
  ></app-projects>
</div>
<!-- <div class="action-buttons">
  <button mat-flat-button class="btn-left" color="primary">Guardar Avance</button>
</div> -->
