<div class="itbl-space">
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th colspan="2">Apartados del Informe</th>
        <th>Carga de Evidencia</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1. Integración y funcionamiento de los órganos colegiados de Mejoredu
        </td>
        <td>
          1.1 Junta Directiva <br />
          1.2 Consejo Técnico de Educación <br />
          1.3 Consejo Ciudadano <br />
          1.4 CSNMCE
          <!-- <textarea style="width: 100%; height: 100%; border: none; background-color: transparent;"></textarea> -->
        </td>
        <td>
          <a
            >Anexo_Actas sesiones CE.pdf
            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <button
            mat-flat-button
            color="primary"
            class="btn-left"
          >
            Agregar Registro
          </button>
        </td>
        <td style="width: 50px;">
          <div
            style="
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <mat-icon style="cursor: pointer" color="primary"
              >download</mat-icon
            >
          </div>
        </td>
      </tr>
      <tr>
        <td>2. Integración y funcionamiento del COCODI</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>3. Situación operativa y financiera</td>
        <td>
          3.1 Situación operativa <br />
          3.1.1 Avance cuantitativo <br />
          3.1.2 Avance cualitativo <br />
          3.2 Situación financiera <br />
        </td>
        <td width="33.33333%">
          <a
            >EDOS FIN JUNIO 2023.xlsx

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >Estados Financieros.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </tr>

      <tr>
        <td>4. Integración de ingresos y egresos</td>
        <td>
          4.1 Ingresos <br />
          4.2 Egresos
        </td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>5. Sistema de Evaluación del Desempeño</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>6. Asuntos relevantes de la gestión</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>
          7. Cumplimiento de planes, programas, políticas generales, sectoriales
          e institucionales, legislación y normativa
        </td>
        <td>
          7.1 Planes, Programas y Estrategias <br />
          7.1.1 ND 2019-2024 <br />
          7.1.2 PI 2020-2024 <br />
          7.1.3 Programas presupuestarios <br />
          7.1.4 PNCCIMGP 2019-2024 <br />
          7.1.5 Estrategia Digital Nacional <br />
          7.2 Legislación <br />
          7.2.1 Ley Federal de Austeridad Republicana <br />
          7.2.2 Ley General de Transparencia y Acceso a la Información Pública y
          Ley Federal de Transparencia y Acceso a la Información Pública <br />
          7.2.3 Ley de Adquisiciones, Arrendamientos y Servicios del Sector
          Público <br />
          7.2.4 Ley de Obras Públicas y Servicios Relacionados con las Mismas
          <br />
          7.2.5 Ley General de Archivos <br />
          7.2.6 Ley del Servicio Profesional de Carrera en la APF o su similar
          establecido por la institución <br />
          7.3 Políticas Generales y Normativa <br />
          7.3.1 CNDH <br />
          7.3.2 Comité de Ética <br />
          7.3.3 Normativa Interna <br />
          7.3.4 Estructura orgánica y ocupacional <br />
          7.3.5 Programa de Trabajo de Control Interno y Administración de
          Riesgos <br />
          7.3.6 Sistema de ciudadanos alertadores internos y externos de la
          corrupción <br />
          7.3.7 Administración de recursos humanos
        </td>
        <td width="33.33333%">
          <a
            >ANEXO LFAR.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >7.2.3 Ley de Adquisiciones Arrendamientos y Servicios Ejercicio 1

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >Semestre 2023.xlsx

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >70_30 1 Semestre 2023.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >01_Memo_1213000_LGCG_032_2023.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >02_Designaciones y ratificaciones RAT.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >03_PADA_2023.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >04 Actualización de obligaciones.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
          <br />
          <a
            >05_ComprobanteCarga.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </tr>

      <tr>
        <td>8. Instancias fiscalizadoras</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>9. Convenios de colaboración</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>10. Fideicomisos y fondos públicos no paraestatales</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>11. Derechos de propiedad intelectual</td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>

      <tr>
        <td>12. Donaciones y desincorporaciones</td>
        <td>
          12.1 Donaciones en especie y en efectivo <br />
          12.2 Desincorporaciones
        </td>
        <td width="33.33333%">
          <a
            >Acta entrega-recepción 340 bienes instrumentales.pdf

            <button *ngIf="!onlyView">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          13. Aspectos relevantes no contemplados en los numerales anteriores
        </td>
        <td></td>
        <td width="33.33333%">
          <file-upload [multiple]="true"></file-upload>
        </td>
      </tr>
    </tbody>
  </table>
</div>
