table.tbl-switch {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  thead {
    background-color: #f2f2f2;
    th {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
      text-align: center;
      &:nth-child(1) {
        text-align: left;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 8px;
        text-align: left;
        text-align: center;
        border: 1px solid #ddd;
        &:nth-child(1) {
          text-align: left;
        }
      }
    }
  }
}
