<div class="dbl">
  <div class="sub-title">Dice</div>
  <app-activities
    [modify]="true"
    [position]="'left'"
    [canSelectOne]="true"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catEstrategiaPrioritariaR]="catEstrategiaPrioritariaR"
    [catAccionPuntualPIR]="catAccionPuntualPIR"
    [catAlcanceR]="catAlcanceR"
  ></app-activities>
</div>
<div class="dbl">
  <div class="sub-title">Debe Decir</div>
  <app-activities
    [modify]="true"
    [position]="'right'"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catEstrategiaPrioritariaR]="catEstrategiaPrioritariaR"
    [catAccionPuntualPIR]="catAccionPuntualPIR"
    [catAlcanceR]="catAlcanceR"
  ></app-activities>
</div>
<!-- <div class="action-buttons">
  <button mat-flat-button class="btn-left" color="primary">Guardar Avance</button>
</div> -->
