.alert-success {
    margin-top: 0;
}

.tbl-space {
    width: 100%;
    overflow: auto;
    display: inline-block;
    box-sizing: border-box;
    border: solid 0 transparent;
    border-bottom-width: 15px;
    border-top-width: 15px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    thead,
    tr.head,
    td.head {
        background-color: var(--primary-color) !important;
        color: var(--white);
        th {
            font-size: 14px;
            font-weight: 400;
            padding: 10px 15px;
            text-align: center;
            border: solid 1px white;
            transition: background linear 0.2s;
            &.grey {
                color: black;
                background-color:rgb( 214, 226, 223) !important;
            }
            &.l-green {
                background-color: #2f7c6a !important;
            }
            &:first-of-type {
                border-top-left-radius: var(--border-radius);
            }
            &:last-of-type {
                border-top-right-radius: var(--border-radius);
            }
        }
    }
    tr.sub-header {
        background: rgb(234, 234, 234) !important;
    }
    tbody {
        tr {
            border: solid 1px white;
            &:nth-of-type(odd) {
                background-color: var(--background-color);
            }
            &:nth-of-type(2n) {
                background-color:rgb(240, 240, 240) !important;
            }
            td {
                font-size: 14px;
                padding: 10px 15px;
                border: solid 1px white;
                background-color: #2f7c6a33;
                transition: background linear 0.2s;
                &.grey {
                    background-color:rgba(243, 243, 243, 0.5) !important;
                }
                &.l-green {
                    background-color: #2f7c6a !important;
                }
                &:first-of-type {
                    border-left: solid 1px var(--border-color);
                }
                &:last-of-type {
                    border-right: solid 1px var(--border-color);
                }
            }
        }
    }
    tr.enfassis {
        border-color: transparent !important;
        td {
            border-color: transparent !important;
        }
    }
    tr.active {
        background-color: rgba(172, 255, 47, 0.245) !important;
    }
    td.enfasis {
        background-color: var(--primary-color-alpha);
    }
    tr,
    td {
        border: solid 1px white !important;
    }
    .left {
        text-align: left;
    }
}