<section id="wrapper" class="smp">
  <div class="btn-navigation">
    <button
      mat-mini-fab
      color="primary"
      [matTooltip]="'Anterior'"
      (click)="navigate.emit(0)"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      (click)="navigate.emit(2)"
      [matTooltip]="'Siguiente'"
      [disabled]="!activeIndicator"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  <section class="alert-success">
    Avance de las Metas para el Bienestar y Parámetros
  </section>

  <div class="tbl-space">
    <table>
      <caption></caption>
      <thead>
        <tr>
          <th scope="col" class="grey" colspan="20">
            Meta para el bienestar y Parámetros del Objetivo prioritario 1
          </th>
        </tr>
        <tr>
          <th scope="col">Productos Referenciados</th>
          <th scope="col">Meta o Parámetro</th>
          <th scope="col">Indicador</th>
          <th scope="col">
            Línea base<br />
            (Año)
          </th>
          <th scope="col">
            Meta 2024 de la<br />
            Meta para el bienestar o<br />
            tendencia esperada del parámetro
          </th>
          <th scope="col">
            Resultado<br />
            2019
          </th>
          <th scope="col">
            Resultado<br />
            2020
          </th>
          <th scope="col">
            Resultado<br />
            2021
          </th>
          <th scope="col">
            Resultado<br />
            2022
          </th>
          <th scope="col">
            Resultado<br />
            2023
          </th>
          <th scope="col">
            Resultado<br />
            2024
          </th>
          <th scope="col">Periodo del <br />Avance</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let meta of data"
          [class.active]="meta.id === activeIndicator"
        >
          <td>
            <button
              mat-icon-button
              color="primary"
              [matTooltip]="'Ver'"
              (click)="onTableAction(meta)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
          <td>{{ meta.meta }}</td>
          <td class="left">{{ meta.indicador }}</td>
          <td [innerHTML]="meta.linea"></td>
          <tD>{{ meta.metaBienestar }}</tD>
          <tD>{{ meta.resultado1 }}</tD>
          <tD>{{ meta.resultado2 }}</tD>
          <tD>{{ meta.resultado3 }}</tD>
          <tD>{{ meta.resultado4 }}</tD>
          <tD>{{ meta.resultado5 }}</tD>
          <tD>{{ meta.resultado6 }}</tD>
          <tD>{{ meta.periodo }}</tD>
        </tr>
      </tbody>
    </table>
  </div>
</section>
