<section id="wrapper" class="no-bottom">
  <div class="btn-navigation">
    <button
      mat-mini-fab
      color="primary"
      [matTooltip]="'Anterior'"
      [matTooltipPosition]="'left'"
      [routerLink]="'../Parámetros'"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      [matTooltip]="'Siguiente'"
      [matTooltipPosition]="'left'"
      [routerLink]="'../Carga del PI y Actas'"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</section>
<app-upload-pi></app-upload-pi>
