<section id="wrapper" class="no-bottom">
    <div class="btn-navigation">
      <button
        mat-mini-fab
        color="primary"
        [matTooltip]="'Anterior'"
        [matTooltipPosition]="'left'"
        [routerLink]="'../Periódos de Habilitación'"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        [matTooltip]="'Siguiente'"
        [matTooltipPosition]="'left'"
        [routerLink]="'../Usuarios'"
        disabled
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </section>
  <form id="form1" class="form fade" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field blur" *ngFor="let question of questions">
      <app-dynamic-field class="form-field full" [question]="question" *ngIf="!question.filter"
        [form]="form"></app-dynamic-field>
      <app-select-filter class="form-field full" [question]="question" *ngIf="question.filter"
        [form]="form"></app-select-filter>
    </div>
    <div class="actions" style="text-align: center; margin-bottom: 15px">
      <button
        *ngIf="!loading"
        type="submit"
        mat-flat-button
        color="primary"
        style="margin-bottom: -15px;"
      >
        Enviar
      </button>

    </div>
  </form>

  <div *ngIf="loading" class="loading" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner></mat-spinner>
  </div>


