<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Mejor Educación</title>
</head>
<body>
<table align="center" width="700" border="0" cellspacing="0" cellpadding="0" style="
        font-family:Helvetica,Arial;
        color: #393C3E;
        text-align: center">
    <tbody>
    <tr>
    <tr height="25"></tr>

    <tr>
        <td height="76px" style="background-color: #393C3E; ">
            <span style="font-family: Helvetica, Arial; color: #FFF; font-size: 18px; font-weight: lighter; text-align: center; ">MEJOR EDUCACIÓN</span>&nbsp;

        </td>
    </tr>
    <!-- Banner Mejor educación -->

    <tr>
        <td style="background-color: #235B4E">
            <p style="font-size: 38px; font-weight: 500; text-align: center; color: white">
                ¡Hola {name}!
            </p>
        </td>
    </tr>
    <tbody style="background-color: #FFFFFF;  font-size: 18px;">
    <tr>
        <td style="width: 300px; padding: 4em;">
            <h2 style="text-align:left; ">Asunto:</h2>
            <h2 style="text-align:center; ">{asunto}</h2>
            <p style="text-align:center ">{cuerpo}<br>
            </p><br>

            <p style="text-align: center;">
                <b>{mejorEdu}</b> te ha enviado, este correo .
                Por favor, da click en <span style="font-weight: bold;">Aceptar </span> para acceder a la plataforma:
            </p>

        </td>
    </tr>
    <tr>
        <td><br/>
            <div>
                <a style="text-decoration: none;" href="https://sipse.mejoredu.gob.mx" target="_blank">
                    <button style="width: 300px; height: 60px; margin: auto; padding: 15px 35px; border-radius: 12px; background-color: #691C32; text-align: center; color: #fff; text-align: center;">
                        <b>Aceptar</b></button>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: center; padding-top: 40px; padding-bottom: 40px;">Si no eres tú, ignora este
                correo.</p>
        </td>
    </tr>
    </tbody>

    <tr>
        <td height="30"></td>
    </tr>

    <tr>
        <td>
            <p style="color: black; font-size: 15px; line-height: 3px;">Contáctanos en caso de dudas a nuestro correo
                sipse@mejoredu.gob.mx</p>

            <br>

        </td>

    </tr>
    <tr>
        <td height="25"></td>
    </tr>


    <tr>
        <td height="15"></td>
    </tr>

    <tr>
        <td height="30"></td>
    </tr>

    <tr>
    <tr height="25"></tr>


    <tr height="25"></tr>

    </tbody>
</table>
</body>
</html>








