<div class="dbl">
  <div class="sub-title">Dice</div>
  <app-products
    [modify]="true"
    [position]="'left'"
    [canSelectOne]="true"
    [catCategoriaR]="catCategoriaR"
    [catTipoProductoR]="catTipoProductoR"
    [catNombreIndicadorMIRR]="catNombreIndicadorMIRR"
    [catIndicadorPIR]="catIndicadorPIR"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catContinuidadOtrosProductosAnhosAnterioresR]="
      catContinuidadOtrosProductosAnhosAnterioresR
    "
    [catAnhoPublicarR]="catAnhoPublicarR"
    [catNivelEducativoR]="catNivelEducativoR"
  ></app-products>
</div>
<div class="dbl">
  <div class="sub-title">Debe Decir</div>
  <app-products
    [modify]="true"
    [position]="'right'"
    [catCategoriaR]="catCategoriaR"
    [catTipoProductoR]="catTipoProductoR"
    [catNombreIndicadorMIRR]="catNombreIndicadorMIRR"
    [catIndicadorPIR]="catIndicadorPIR"
    [catObjetivosPrioritarioR]="catObjetivosPrioritarioR"
    [catContinuidadOtrosProductosAnhosAnterioresR]="
      catContinuidadOtrosProductosAnhosAnterioresR
    "
    [catAnhoPublicarR]="catAnhoPublicarR"
    [catNivelEducativoR]="catNivelEducativoR"
  ></app-products>
</div>
<!-- <div class="action-buttons">
  <button mat-flat-button class="btn-left" color="primary">
    Guardar Avance
  </button>
</div> -->
