<section id="wrapper">
    <section id="wrapper" class="w-internal">
        <div class="container">
            <table class="sjs-table" cellspacing="0" cellpadding="0" #tbl>
              <thead style="position: sticky; top: 0;">
                <tr>
                  <td rowspan="2" class="grey">Tipo Nivel</td>
                  <td rowspan="2" class="grey">Nivel</td>
                  <td rowspan="2" class="grey">Nombre del indicador</td>
                  <td rowspan="2" class="light-blue">Meta programada 2023</td>
                  <td colspan="12" class="light-blue">AJUSTADO</td>
                </tr>
                <tr style="position: sticky; top: 19px;">
                  <td class="light-blue">E</td>
                  <td class="light-blue">F</td>
                  <td class="light-blue">M</td>
                  <td class="light-blue">A</td>
                  <td class="light-blue">M</td>
                  <td class="light-blue">J</td>
                  <td class="light-blue">J</td>
                  <td class="light-blue">A</td>
                  <td class="light-blue">S</td>
                  <td class="light-blue">O</td>
                  <td class="light-blue">N</td>
                  <td class="light-blue">D</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Componente</td>
                  <td>C.1</td>
                  <td>
                      Porcentaje de la oferta de estudios, investigaciones especializadas y
                      evaluaciones para la mejora de la educación fortalecida
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      8 (UED: 3 Estudios 4 Evaluaciones 1 Investigación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 007-20-1-ES Informe de resultados del estudio de coordinación
                      interestatal en la atención educativa de niñez migrante (Estudio)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 009-27-1-ES Informe final del estudio de seguimiento de los procesos
                      educativos en el cambio curricular (Estudio)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 001-05-1-EV Informe de resultados de la sistematización de
                      experiencias sobre la valoración del aprendizaje de los NNA en
                      condiciones de vulnerabilidad (Evaluación) 002-07-1-EV Informe final del
                      monitoreo de los materiales y recursos de apoyo para llevar a cabo la
                      evaluación diagnóstica y formativa de la práctica docente en escuelas de
                      Educación Básica (Evaluación) 004-14-1-EV Informe final de la
                      actualización de indicadores y mecanismos del sistema de monitoreo
                      ((para evaluar políticas educativas en las escuelas) (Evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 003-11-1-EV Informe final del monitoreo de materiales e instrumentos
                      de la evaluación diagnóstica y formativa de condiciones y procesos
                      escolares (Evaluación) 008-24-1-IN Informe de resultados de la
                      investigación sobre el acoso entre estudiantes de media superior
                      (Investigación) 010-32-1-ES Informe final (Estudio sobre el uso e
                      incidencia de los productos institucionales de la mejora continua de la
                      educación) (Estudio)
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Actividad</td>
                  <td>A1.1</td>
                  <td>
                    Porcentaje de instrumentos de los estudios, investigaciones
                    especializadas, y evaluaciones para la mejora educativa elaborados
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      8 (UED: 2 instrumentos de estudios, 1 instrumento de investigación, 5
                      instrumentos de evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 007-19-2-IM Instrumentos diseñados para el estudio de coordinación
                      interestatal en la atención educativa de niñez migrante (Instrumentos de
                      estudio)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 009-26-2-IM Instrumentos diseñados para el estudio de seguimiento de
                      los procesos educativos en el cambio curricular (Instrumentos de
                      estudio)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 002-06-1-CM Materiales y recursos de apoyo para la evaluación
                      diagnóstica y formativa de la práctica docente en Educación Básica
                      (Instrumentos de evaluación) 004-12-2-IM Instrumentos para la
                      recolección de información (para evaluar políticas educativas en las
                      escuelas) (Instrumentos de evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 001-04-2-IM Instrumentos de entrevista y grupos focales para
                      recopilar experiencias sobre la valoración del aprendizaje de los NNA en
                      condicones de vulnrabilidad (Instrumentos de evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 008-22-2-IM Instrumentos diseñados para la investigación sobre el
                      acoso entre estudiantes de educación media superior (Instrumentos de
                      investigación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 001-01-2-IM Instrumentos para la evaluación diagnóstica y formativa
                      del aprendizaje de Expresión escrita en educación básica (Instrumentos
                      de evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 003-10-2-CM Paquete de materiales e instrumentos para la evaluación
                      diagnóstica y formativa de condiciones y procesos escolares
                      (Instrumentos de evaluación)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                </tr>
                <tr>
                  <td>Actividad</td>
                  <td>A1.2</td>
                  <td>Porcentaje de marcos conceptuales y metodológicos diseñados</td>
                  <td class="editable">
                    <div contenteditable>
                      5 (UED: Marcos conceptuales)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 012-36-2-MC Marco conceptual y metodológico del estudio exploratorio
                      sobre la desafiliación escolar en Educación Media Superior
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 007-18-2-MC Marco conceptual y metodológico del estudio de
                      coordinación interestatal en la atención educativa de niñez migrante
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 001-03-2-MC Marco conceptual y metodológico sobre la valoración del
                      aprendizaje de los NNA en condiciones de vulnerabilidad UED 009-25-2-MC
                      Marco conceptual y metodológico del estudio de seguimiento de los
                      procesos educativos en el cambio curricular
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UED 008-23-2-MC Marco conceptual y metodológico de la investigación
                      sobre el acoso entre estudiantes de educación media superior
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                </tr>
                <tr>
                  <td>Componente</td>
                  <td>C.2</td>
                  <td>
                    Porcentaje de indicadores para monitorear los resultados de la mejora
                    educativa actualizados
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      3 (UASMCIE: 2 Informes de indicadores, 1 Indicadores nacionales)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-03-2-IT Informe de indicadores
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-02-1-ID Indicadores Nacionales de la Mejora Continua de la
                      Educación en México 2023 002-03-2-IT Informe de indicadores
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                </tr>
                <tr>
                  <td>Actividad</td>
                  <td>A2.1</td>
                  <td>
                    Porcentaje de avance en el tratamiento de información para la
                    actualización de indicadores
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      6 (UASMCIE: Bases de datos)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-04-2-BD Base de datos estadísticos (2)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-04-2-BD Base de datos estadísticos
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-04-2-BD Base de datos estadísticos
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-04-2-BD Base de datos estadísticos (2)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                </tr>
                <tr>
                  <td>Componente</td>
                  <td>C.3</td>
                  <td>
                    Porcentaje de lineamientos, criterios, sugerencias, programas y
                    materiales para la mejora continua de la educación emitidos
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      30 (UED: 1 lineam y 1 crit) (UVIA: 4 carp de mat., 20 Intervenciones
                      Formativas) (UASMCIE: 2 sugerencias, 2 lineam.)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UVIA 011-26-1-CM Carpeta de materiales
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable></div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UVIA 010-25-1-IF Intervención formativa para integrantes de áreas
                      estatales encargadas de la FC 011-26-1-CM Carpeta de materiales
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 001-01-1-SU Sugerencias para la concreción del plan y programas
                      de estudio 2022 en EB. UVIA 004-08-1-IF Intervención formativa para la
                      inserción de docentes de EMSAD, TBC y BI en EMS (Fase 1) 005-09-1-IF
                      Intervención formativa para la inserción al personal con funciones
                      académicas de apoyo a la dirección de BG, BT y PTB en EMS (Fase 1)
                      005-10-1-IF Intervención formativa para la inserción de directores de
                      EMSAD, TBC y BI en EMS (Fase 2) 009-23-1-IF Intervención formativa para
                      personal que realiza funciones de acompañamiento. Tutores 011-26-1-CM
                      Carpeta de materiales UED 005-15-1-LI Lineamientos para el desarrollo de
                      las evaluaciones diagnósticas y formativas actualizados
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UVIA 007-17-1-IF Intervención formativa para docentes en servicio de PTB
                      en EMS 007-18-1-IF Intervención formativa para personal que atiende a
                      estudiantes con discapacidad en EMS 008-21-1-IF Intervención formativa
                      para directores en servicio de EMS 011-26-1-CM Carpeta de materiales
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 003-04-1-LI Lineamientos para la mejora de las escuelas a través
                      del fortalecimiento de prácticas escolares inclusivas e interculturales
                      en EMS UVIA 004-07-1-IF Intervención formativa para la inserción de
                      docentes multigrado Fase 2 006-11-1-IF Intervención formativa para
                      personal que realiza prácticas docentes y de acompañamiento a madres,
                      padres y personas cuidadoras en educación inicial no escolarizada
                      007-12-1-IF Intervención formativa para docentes de preescolar indígena
                      007-13-1-IF Intervención formativa para docentes de primaria indígena
                      007-14-1-IF Intervención formativa para docentes de telesecundaria
                      007-15-1-IF Intervención formativa para docentes de USAER/UDEII
                      007-16-1-IF Intervención formativa para docentes en servicio de BI en
                      EMS
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 003-03-1-LI Lineamientos para la mejora de las escuelas a través
                      del fortalecimiento de prácticas escolares inclusivas e interculturales
                      en EB UVIA 008-19-1-IF Intervención formativa para directores de
                      educación indígena 008-20-1-IF Intervención formativa para supervisores
                      indígena 008-22-1-IF Intervención formativa para personal con funciones
                      académicas de apoyo a la dirección en EMS 009-24-1-IF Intervención
                      formativa para personal que realiza funciones de acompañamiento. ATP
                      010-25-1-IF Intervención formativa para integrantes de áreas estatales
                      encargadas de la FC UED 005-16-1-CR Criterios actualizados (evaluaciones
                      diagnósticas y formativas)
                    </div>
                  </td>
                  <td class="editable">
                    <div contenteditable>
                      UASMCIE 002-02-1-SU Sugerencias para la concreción de componentes
                      curriculares en educación media superior
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="actions">
          <button mat-flat-button color="accent">Guardar</button>
          <button mat-flat-button color="primary">
            <mat-icon>download</mat-icon>
            Generar Reporte
          </button>
        </div>
    </section>
</section>
