<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <form class="form fade" [formGroup]="form" (ngSubmit)="submit()">
    <div class="field" *ngFor="let question of questions | slice : 0 : 3">
      <app-dynamic-field
        class="form-field full blur"
        [question]="question"
        *ngIf="!question.filter"
        [form]="form"
      ></app-dynamic-field>
      <app-select-filter
        class="form-field full blur"
        [question]="question"
        *ngIf="question.filter"
        [form]="form"
      ></app-select-filter>
    </div>

    <section style="margin-top: 0px">
      <file-upload
        *ngIf="form.enabled && filesArchivos.length < 2"
        [files]="arrayFiles"
        [id]="'inpFilePi'"
        accept=".pdf"
      ></file-upload>
    </section>

    <div class="action-buttons right">
      <button
        *ngIf="form.enabled && filesArchivos.length < 2"
        [disabled]="!arrayFiles.length"
        (click)="handleAddFile()"
        type="button"
        mat-flat-button
        color="add"
        style="margin-top: 0px; margin-left: 20px"
      >
        <span>Agregar Archivo</span>
      </button>
    </div>

    <section style="margin-bottom: 0px; margin-top: 18px">
      <app-mat-custom-table
        (action)="onTableAction($event)"
        [dataset]="filesArchivos"
        [columns]="columns"
        [actions]="actions"
        [noPadding]="true"
        [customBtn]="'download'"
        [actionString]="'Descargar'"
      >
      </app-mat-custom-table>
    </section>

    <section class="alert-success">Evidencia Complementaria</section>

    <div class="field" *ngFor="let question of questions | slice : 3 : 20">
      <app-dynamic-field
        class="form-field full blur"
        [question]="question"
        *ngIf="!question.filter"
        [form]="form"
      ></app-dynamic-field>
      <app-select-filter
        class="form-field full blur"
        [question]="question"
        *ngIf="question.filter"
        [form]="form"
      ></app-select-filter>
    </div>

    <div class="action-buttons right" style="margin-top: -10px">
      <button mat-flat-button color="primary">Guardar</button>
    </div>
  </form>
</div>
