.actions {
    text-align: center;
    button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

:host ::ng-deep mat-form-field {
    width: 100% !important;
}

#wrapper {
    border-left-width: 0px;
    border-right-width: 0px;
}

form {
    width: 100%;
    text-align: left;
    .field {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        border: solid var(--border-slim) transparent;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        &:nth-of-type(1) {
            width: 25%;
            border-right-width: var(--border-slim);
        }
        &:nth-of-type(2) {
            width: 125px;
            border-left-width: var(--border-middle);
            border-right-width: var(--border-slim);
        }
        &:nth-of-type(3) {
            width: calc(75% - 125px);
            border-left-width: var(--border-middle);
        }
    }
}

button {
    width: 100px;
}

@media only screen and (max-width: 660px) {
    .field  {
        width: 100% !important;
        border-left-width: 0 !important;
        border-right-width: 0px !important;
    }
  }
  