<section id="wrapper" class="no-bottom top-slim">
  <section class="alert-success no-top">
    Valor de Línea Base y Metas
  </section>

  <form *ngIf="form" class="form fade" [formGroup]="form" (ngSubmit)="submit()">

    <div class="field blur" *ngFor="let question of questions">
      <app-dynamic-field
        class="form-field full"
        [question]="question"
        [form]="form"
      ></app-dynamic-field>
    </div>
    
    <!-- <div class="actions">
      <button mat-stroked-button color="primary" (click)="changeStep(-1)">Anterior</button>
      <button type="submit" mat-flat-button color="accent">Guardar</button>
      <button mat-stroked-button color="primary" (click)="changeStep(1)">Siguiente</button>
      <br />
      <br />
    </div> -->
  </form>

</section>
