.sub-title {
  border-left: solid 15px transparent !important;
}

.form {
  text-align: left;
  box-sizing: border-box;
  border: solid var(--border-middle) transparent;
  border-top-width: 0;
}

.field {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  border: solid 0 transparent;
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(5),
  &:nth-of-type(6),
  &:nth-of-type(7) {
    border-right-width: var(--border-middle);
  }
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(6),
  &:nth-of-type(7) {
    border-left-width: var(--border-slim);
  }
}

.action-buttons {
  margin-top: 0px;
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
  .btn-left {
    margin-left: 20px;
    color: var(--white) !important;
  }
  .add {
    color: var(--white) !important;
    background-color: var(--golden-me);
  }
  button[mat-mini-fab] {
    margin-left: 10px;
    transform: translateY(-2px);
    border: solid 1px var(--primary-color);
  }
}

.btn-navigation {
    margin-top: 0 !important;
    .btn-left {
        margin-left: 15px !important;
    }
}

.custom-table {
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: sans-serif;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.custom-table td{
  border: 1px black solid;
}

#report-space {
  table {
    margin: 0 !important;
  }
}

.img-mejoredu {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  .left {
    width: 30%;
    img {
        width: 300px;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    span {
      font-weight: bold;
    }
  }
}
