.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  &::before {
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-image: url(../../assets/img/back.png) !important;
  }
  header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 300;
    position: fixed;
    background: var(--white-alpha);
    backdrop-filter: blur(20px) saturate(100%);
    .content {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
    .logo,
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo {
      width: auto;
      height: 80px;
      display: flex;
      padding-top: 5px;
      padding-left: 20px;
      padding-bottom: 5px;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      img {
        height: 70px;
        margin-left: -15px;
        margin-bottom: -16px;
      }
    }
    .title {
      width: 100%;
      height: 80px;
      display: flex;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
      &::after {
        content: "Sistema de Planeación, Seguimiento y Evaluación (SIPSE)";
      }
    }
    .actions {
      padding-right: 15px;
      button {
        color: var(--primary-color);
      }
    }
  }
  .login {
    z-index: 2;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--white-alpha);
    background-image: linear-gradient(145deg, var(--white), var(--white-alpha));
    box-shadow: var(--primary-shadow-hard);
    backdrop-filter: blur(10px) saturate(100%);
    #logo {
      display: none;
    }
    .notes {
      width: 100%;
      opacity: 0.3;
      display: block;
      font-size: 14px;
      margin-top: 50px;
      font-weight: 100;
    }
    form {
      width: 100%;
      display: block;
      margin-top: 40px;
      button[type="submit"] {
        width: 150px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    h1 {
      width: 100%;
      margin: 0 0;
      text-align: left;
      background: transparent;
      font-size: 25px !important;
      color: var(--primary-color);
      font-weight: 500;
    }
    h3 {
      width: 100%;
      text-align: left;
      color: var(--grey);
      font-weight: 200;
      font-size: 18px;
      margin: 0 0;
    }
    .col {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;
      position: relative;
      box-sizing: border-box;
      border: solid 40px transparent;
      &.static {
        border: solid 0;
        .svg {
          width: 60%;
        }
        &::before {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          background-color: var(--primary-color);
          opacity: 0.24;
        }
      }
    }
  }
}

.aboutForm {
  box-sizing: border-box;
  border: solid var(--border-slim) transparent;
  .action {
    width: 100%;
    text-align: center;
  }
  button {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1180px) {
  .logo {
    float: initial;
  }
}

@media only screen and (max-width: 699px) {
  .title {
    &::after {
      content: "SIPSE" !important;
    }
  }
}

.actions {
  padding-top: 5px;
  text-align: right;
  box-sizing: border-box;
  padding-right: var(--border-middle);
}
