<section id="wrapper">
  <div class="btn-navigation">
    <button
      mat-mini-fab
      color="primary"
      [disabled]="true"
      [matTooltip]="'Anterior'"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      (click)="navigate.emit(1)"
      [disabled]="!activeProject"
      [matTooltip]="'Siguiente'"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  <div class="trim-section">
    <mat-button-toggle-group name="favoriteColor" [(ngModel)]="currentQuarter" (change)="submit()">
      <mat-button-toggle [value]="1"> Primer Trimestre </mat-button-toggle>
      <mat-button-toggle [value]="2"> Segundo Trimestre </mat-button-toggle>
      <mat-button-toggle [value]="3"> Tercer Trimestre </mat-button-toggle>
      <mat-button-toggle [value]="4"> Cuarto Trimestre </mat-button-toggle>
      <mat-button-toggle [value]=null> General </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form class="form fade" [formGroup]="form" (ngSubmit)="submit()">
    <section class="field" *ngFor="let question of questions">
      <app-dynamic-field
        class="form-field full blur"
        [question]="question"
        *ngIf="!question.filter"
        [form]="form"

      ></app-dynamic-field>
      <app-select-filter
        class="form-field full blur"
        [question]="question"
        *ngIf="question.filter"
        [form]="form"
      ></app-select-filter>
    </section>
    <div class="actions">
      <button mat-flat-button color="send" type="reset">Limpiar Filtros</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Buscar
      </button>
    </div>
  </form>

  <app-mat-custom-table
    *ngIf="!loading && data"
    (action)="onTableAction($event)"
    (update)="getAll()"
    [hasScroll]="false"
    [propId]="'projectId'"
    [activeId]="activeProject"
    [actionsInStart]="true"
    [actions]="actions"
    [dataset]="data"
    [actionString]="'Ver'"
    [maxWidthActions]="'60px'"
    [columns]="columns"
  >
  </app-mat-custom-table>
</section>
