:root {
  --font: 18px;
  --radius: 8px;
  --white-alpha: rgba(245, 247, 247, 0.7);
  --primary-color: #235B4E;
  --primary-color-alpha: rgb(35, 91, 78, 0.5);
  --primary-dark-color: #044138;
  --dark-green: rgb(4, 65, 56);
  --secundary: #9F2241;
  --error-color: #d54e57;
  --white: #fff;
  --white-base: #f6f6f6;
  --grey: #8D9D9B;
  --gray: #bccecb;
  --green: rgb(0, 176, 80);
  --green-light: rgb(226, 239, 217);
  --boorder-full: 30px;
  --border-middle: 15px;
  --border-slim: 7.5px;
  --light-color: #bbc8c5;
  --golden: #DDC9A3;
  --golden-me: rgb( 165, 133, 69);
  --green-shadow: 0px 5px 14px rgba(63, 147, 134, 0.333);
  --error-shadow: 0px 5px 20px rgba(244, 67, 54, 0.1);
  --primary-shadow: 0px 5px 20px rgba(4, 65, 56, 0.1);
  --secundary-shadow: 0px 5px 20px rgba(159, 34, 65, 0.4);
  --primary-hard-shadow: 0px 12px 40px rgba(9, 101, 87, 0.1);
  --header-gradient: linear-gradient(180deg, #235B4E, #28695a);
}
