<section id="wrapper" class="no-bottom">
  <section class="alert-success no-top" *ngIf="!validation">
    Carga de Archivos
  </section>
  <file-upload
    *ngIf="form.enabled && filesArchivos.length < 2"
    [files]="arrayFiles"
    [id]="'inpFileFichas'"
    accept=".pdf"
  ></file-upload>
  <div class="action-buttons">
    <!-- <button
      mat-flat-button
      class="btn-left"
      color="primary"
      (click)="openDialog()"
    >
      Consultar Archivos
    </button> -->
    <button
      *ngIf="form.enabled && filesArchivos.length < 2"
      [disabled]="!arrayFiles.length"
      (click)="handleAddFile()"
      type="button"
      mat-flat-button
      color="add"
      style="margin-top: 0px; margin-left: 20px"
    >
      <span>Agregar Archivo</span>
    </button>
  </div>
  <app-mat-custom-table
    (action)="onTableActionArchivos($event)"
    [dataset]="filesArchivos"
    [columns]="columns"
    [actions]="actions"
    [noPadding]="true"
    [customBtn]="'download'"
    [actionString]="'Descargar'"
  >
  </app-mat-custom-table>

  <div class="hr"></div>
  <form id="form1" class="form fade" [formGroup]="form" (ngSubmit)="submit()">
    <section class="form1">
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 0 : 4; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          [form]="form"
        ></app-dynamic-field>
      </div>
    </section>
    <section class="alert-success">Datos Generales del Indicador</section>
    <section class="form2">
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 4 : 16; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          *ngIf="!question.filter"
          [form]="form"
        ></app-dynamic-field>
        <app-select-filter
          class="form-field full"
          [question]="question"
          *ngIf="question.filter"
          [form]="form"
        ></app-select-filter>
      </div>
      <div class="field" style="margin: 0 0; border: solid 0"></div>
      <section class="ndm" style="margin-top: -15px">
        <div
          class="field blur"
          *ngFor="let question of questions | slice : 16 : 19; let i = index"
        >
          <app-dynamic-field
            class="form-field full"
            [question]="question"
            *ngIf="!question.filter"
            [form]="form"
          ></app-dynamic-field>
          <app-select-filter
            class="form-field full"
            [question]="question"
            *ngIf="question.filter"
            [form]="form"
          ></app-select-filter>
        </div>
      </section>
      <section class="alert-success">Línea Base</section>
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 19 : 22; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          *ngIf="!question.filter"
          [form]="form"
        ></app-dynamic-field>
        <app-select-filter
          class="form-field full"
          [question]="question"
          *ngIf="question.filter"
          [form]="form"
        ></app-select-filter>
      </div>
      <section class="alert-success">Meta Anual</section>
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 22 : 25; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          *ngIf="!question.filter"
          [form]="form"
        ></app-dynamic-field>
        <app-select-filter
          class="form-field full"
          [question]="question"
          *ngIf="question.filter"
          [form]="form"
        ></app-select-filter>
      </div>
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 25 : 26; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          *ngIf="!question.filter"
          [form]="form"
        ></app-dynamic-field>
        <app-select-filter
          class="form-field full"
          [question]="question"
          *ngIf="question.filter"
          [form]="form"
        ></app-select-filter>
      </div>

      <section class="alert-success">
        Características de las Variables del Indicador
      </section>
      <div
        class="field blur"
        *ngFor="let question of questions | slice : 26 : 40; let i = index"
      >
        <app-dynamic-field
          class="form-field full"
          [question]="question"
          *ngIf="!question.filter"
          [form]="form"
        ></app-dynamic-field>
        <app-select-filter
          class="form-field full"
          [question]="question"
          *ngIf="question.filter"
          [form]="form"
        ></app-select-filter>
      </div>
    </section>

    <div class="action-buttons" style="margin-bottom: 18px; margin-top: -0px">
      <button
        mat-flat-button
        color="view"
        class="btn-left"
        type="button"
        (click)="download()"
      >
        Descargar
      </button>
      <button
        mat-flat-button
        color="primary"
        class="btn-left"
        *ngIf="editable && canEdit"
        type="button"
        (click)="update()"
        [disabled]="disableEdit"
      >
        Editar
      </button>
      <button
        [disabled]="form.disabled"
        mat-flat-button
        color="primary"
        class="btn-left"
        *ngIf="editable && canEdit"
        type="submit"
      >
        <mat-spinner
          *ngIf="isSubmiting"
          style="width: 25px"
          color="warn"
        ></mat-spinner>
        <span *ngIf="!isSubmiting"> Guardar </span>
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="btn-left"
        *ngIf="editable && canEdit"
        [disabled]="disableFinish"
        (click)="finalize()"
      >
        <mat-spinner
          *ngIf="isSubmitingFinalize"
          style="width: 25px"
          color="warn"
        ></mat-spinner>
        <span *ngIf="!isSubmitingFinalize">Finalizar Registro</span>
      </button>
      <button
        type="button"
        mat-flat-button
        color="send"
        class="btn-left"
        *ngIf="editable && canEdit"
        [disabled]="disableSend"
        (click)="send()"
      >
        <mat-spinner
          *ngIf="isSubmitingSend"
          style="width: 25px"
          color="warn"
        ></mat-spinner>
        <span *ngIf="!isSubmitingSend">Enviar a Validar</span>
      </button>
    </div>
  </form>
</section>

<app-validate
  *ngIf="validation"
  apartado="VALIDACION-PRESUPUESTO-M001"
  [idSave]="idSaveValidar"
  fromModule="pp"
  whenFinishGoTo="/Planeación/Programas Presupuestarios/Validación"
  [questions]="questions"
  [canSign]="true"
  [disable]="!!selectedAjustesPP"
></app-validate>
